@font-face {
  font-family: 'gli-fontello';
  src: url('../font/gli-fontello2a8e2a8e.eot?73462667');
  src: url('../font/gli-fontello2a8e2a8e.eot?73462667#iefix') format('embedded-opentype'),
       url('../font/gli-fontello2a8e2a8e.woff?73462667') format('woff'),
       url('../font/gli-fontello2a8e2a8e.ttf?73462667') format('truetype'),
       url('../font/gli-fontello2a8e2a8e.svg?73462667#gli-fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'gli-fontello';
    src: url('../font/gli-fontello.svg?73462667#gli-fontello') format('svg');
  }
}
*/
 
 [class^="gli-icon-"]:before, [class*=" gli-icon-"]:before {
  font-family: "gli-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.gli-icon-search-1:before { content: '\21'; } /* '!' */
.gli-icon-sort-numeric:before { content: '\22'; } /* '&quot;' */
.gli-icon-heart-1:before { content: '\23'; } /* '#' */
.gli-icon-user-1:before { content: '\24'; } /* '$' */
.gli-icon-comment-2:before { content: '\25'; } /* '%' */
.gli-icon-location-2:before { content: '\26'; } /* '&amp;' */
.gli-icon-truck:before { content: '\27'; } /* ''' */
.gli-icon-mail:before { content: '\28'; } /* '(' */
.gli-icon-star-1:before { content: '\29'; } /* ')' */
.gli-icon-camera-1:before { content: '\2a'; } /* '*' */
.gli-icon-thumbs-up-2:before { content: '\2b'; } /* '+' */
.gli-icon-photo:before { content: '\2c'; } /* ',' */
.gli-icon-music-1:before { content: '\2d'; } /* '-' */
.gli-icon-lightbulb-1:before { content: '\2e'; } /* '.' */
.gli-icon-desktop-1:before { content: '\2f'; } /* '/' */
.gli-icon-cloud:before { content: '\30'; } /* '0' */
.gli-icon-beaker:before { content: '\31'; } /* '1' */
.gli-icon-money-1:before { content: '\32'; } /* '2' */
.gli-icon-t-shirt:before { content: '\33'; } /* '3' */
.gli-icon-diamond:before { content: '\34'; } /* '4' */
.gli-icon-waves-outline:before { content: '\35'; } /* '5' */
.gli-icon-cancel-outline:before { content: '\36'; } /* '6' */
.gli-icon-ok-outline:before { content: '\37'; } /* '7' */
.gli-icon-plus-outline:before { content: '\38'; } /* '8' */
.gli-icon-search-outline:before { content: '\39'; } /* '9' */
.gli-icon-users-outline:before { content: '\3a'; } /* ':' */
.gli-icon-menu-outline:before { content: '\3b'; } /* ';' */
.gli-icon-cog-outline:before { content: '\3c'; } /* '&lt;' */
.gli-icon-wrench-outline:before { content: '\3d'; } /* '=' */
.gli-icon-globe-outline:before { content: '\3e'; } /* '&gt;' */
.gli-icon-briefcase-2:before { content: '\3f'; } /* '?' */
.gli-icon-brush-1:before { content: '\40'; } /* '@' */
.gli-icon-chart-outline:before { content: '\41'; } /* 'A' */
.gli-icon-chart-bar-outline:before { content: '\42'; } /* 'B' */
.gli-icon-home:before { content: '\e800'; } /* 'î €' */
.gli-icon-facebook:before { content: '\e801'; } /* 'î ' */
.gli-icon-twitter:before { content: '\e802'; } /* 'î ‚' */
.gli-icon-dribbble:before { content: '\e803'; } /* 'î ƒ' */
.gli-icon-linkedin:before { content: '\e804'; } /* 'î „' */
.gli-icon-search:before { content: '\e805'; } /* 'î …' */
.gli-icon-stop:before { content: '\e806'; } /* 'î †' */
.gli-icon-cancel:before { content: '\e807'; } /* 'î ‡' */
.gli-icon-menu:before { content: '\e808'; } /* 'î ˆ' */
.gli-icon-list-add:before { content: '\e809'; } /* 'î ‰' */
.gli-icon-cog:before { content: '\e80a'; } /* 'î Š' */
.gli-icon-align-left:before { content: '\e80b'; } /* 'î ‹' */
.gli-icon-align-center:before { content: '\e80c'; } /* 'î Œ' */
.gli-icon-align-right:before { content: '\e80d'; } /* 'î ' */
.gli-icon-heart:before { content: '\e80e'; } /* 'î Ž' */
.gli-icon-up-open:before { content: '\e80f'; } /* 'î ' */
.gli-icon-check-empty:before { content: '\e810'; } /* 'î ' */
.gli-icon-check-empty-1:before { content: '\e811'; } /* 'î ‘' */
.gli-icon-ok:before { content: '\e812'; } /* 'î ’' */
.gli-icon-right-open:before { content: '\e813'; } /* 'î “' */
.gli-icon-minus:before { content: '\e814'; } /* 'î ”' */
.gli-icon-plus:before { content: '\e815'; } /* 'î •' */
.gli-icon-circle:before { content: '\e816'; } /* 'î –' */
.gli-icon-circle-empty:before { content: '\e817'; } /* 'î —' */
.gli-icon-dot-circled:before { content: '\e818'; } /* 'î ˜' */
.gli-icon-quote:before { content: '\e819'; } /* 'î ™' */
.gli-icon-list:before { content: '\e81a'; } /* 'î š' */
.gli-icon-text-width:before { content: '\e81b'; } /* 'î ›' */
.gli-icon-font:before { content: '\e81c'; } /* 'î œ' */
.gli-icon-map:before { content: '\e81d'; } /* 'î ' */
.gli-icon-location:before { content: '\e81e'; } /* 'î ž' */
.gli-icon-db-shape:before { content: '\e81f'; } /* 'î Ÿ' */
.gli-icon-align-justify:before { content: '\e820'; } /* 'î  ' */
.gli-icon-indent-right:before { content: '\e821'; } /* 'î ¡' */
.gli-icon-th-list:before { content: '\e822'; } /* 'î ¢' */
.gli-icon-video:before { content: '\e823'; } /* 'î £' */
.gli-icon-picture:before { content: '\e824'; } /* 'î ¤' */
.gli-icon-briefcase:before { content: '\e825'; } /* 'î ¥' */
.gli-icon-article-alt:before { content: '\e826'; } /* 'î ¦' */
.gli-icon-easel:before { content: '\e827'; } /* 'î §' */
.gli-icon-comment:before { content: '\e828'; } /* 'î ¨' */
.gli-icon-table:before { content: '\e829'; } /* 'î ©' */
.gli-icon-code:before { content: '\e82a'; } /* 'î ª' */
.gli-icon-th-large:before { content: '\e82b'; } /* 'î «' */
.gli-icon-th:before { content: '\e82c'; } /* 'î ¬' */
.gli-icon-megaphone:before { content: '\e82d'; } /* 'î ­' */
.gli-icon-attention:before { content: '\e82e'; } /* 'î ®' */
.gli-icon-star:before { content: '\e82f'; } /* 'î ¯' */
.gli-icon-star-empty:before { content: '\e830'; } /* 'î °' */
.gli-icon-star-half:before { content: '\e831'; } /* 'î ±' */
.gli-icon-star-half-alt:before { content: '\e832'; } /* 'î ²' */
.gli-icon-arrows-cw:before { content: '\e833'; } /* 'î ³' */
.gli-icon-chrome:before { content: '\e834'; } /* 'î ´' */
.gli-icon-firefox:before { content: '\e835'; } /* 'î µ' */
.gli-icon-opera:before { content: '\e836'; } /* 'î ¶' */
.gli-icon-ie:before { content: '\e837'; } /* 'î ·' */
.gli-icon-android:before { content: '\e838'; } /* 'î ¸' */
.gli-icon-windows:before { content: '\e839'; } /* 'î ¹' */
.gli-icon-apple:before { content: '\e83a'; } /* 'î º' */
.gli-icon-css3:before { content: '\e83b'; } /* 'î »' */
.gli-icon-html5:before { content: '\e83c'; } /* 'î ¼' */
.gli-icon-dropbox:before { content: '\e83d'; } /* 'î ½' */
.gli-icon-flickr:before { content: '\e83e'; } /* 'î ¾' */
.gli-icon-github-circled:before { content: '\e83f'; } /* 'î ¿' */
.gli-icon-github:before { content: '\e840'; } /* 'î¡€' */
.gli-icon-github-1:before { content: '\e841'; } /* 'î¡' */
.gli-icon-gplus:before { content: '\e842'; } /* 'î¡‚' */
.gli-icon-instagramm:before { content: '\e843'; } /* 'î¡ƒ' */
.gli-icon-linux:before { content: '\e844'; } /* 'î¡„' */
.gli-icon-pinterest:before { content: '\e845'; } /* 'î¡…' */
.gli-icon-renren:before { content: '\e846'; } /* 'î¡†' */
.gli-icon-skype:before { content: '\e847'; } /* 'î¡‡' */
.gli-icon-tumblr:before { content: '\e848'; } /* 'î¡ˆ' */
.gli-icon-vimeo:before { content: '\e849'; } /* 'î¡‰' */
.gli-icon-xing:before { content: '\e84a'; } /* 'î¡Š' */
.gli-icon-youtube:before { content: '\e84b'; } /* 'î¡‹' */
.gli-icon-stumbleupon:before { content: '\e84c'; } /* 'î¡Œ' */
.gli-icon-lastfm:before { content: '\e84d'; } /* 'î¡' */
.gli-icon-evernote:before { content: '\e84e'; } /* 'î¡Ž' */
.gli-icon-paypal:before { content: '\e84f'; } /* 'î¡' */
.gli-icon-picasa:before { content: '\e850'; } /* 'î¡' */
.gli-icon-soundcloud:before { content: '\e851'; } /* 'î¡‘' */
.gli-icon-behance:before { content: '\e852'; } /* 'î¡’' */
.gli-icon-google-circles:before { content: '\e853'; } /* 'î¡“' */
.gli-icon-globe:before { content: '\e854'; } /* 'î¡”' */
.gli-icon-w3c:before { content: '\e855'; } /* 'î¡•' */
.gli-icon-grooveshark:before { content: '\e856'; } /* 'î¡–' */
.gli-icon-forrst:before { content: '\e857'; } /* 'î¡—' */
.gli-icon-digg:before { content: '\e858'; } /* 'î¡˜' */
.gli-icon-spotify:before { content: '\e859'; } /* 'î¡™' */
.gli-icon-reddit:before { content: '\e85a'; } /* 'î¡š' */
.gli-icon-blogger:before { content: '\e85b'; } /* 'î¡›' */
.gli-icon-cc:before { content: '\e85c'; } /* 'î¡œ' */
.gli-icon-disqus:before { content: '\e85d'; } /* 'î¡' */
.gli-icon-rss:before { content: '\e85e'; } /* 'î¡ž' */
.gli-icon-yahoo:before { content: '\e85f'; } /* 'î¡Ÿ' */
.gli-icon-email:before { content: '\e860'; } /* 'î¡ ' */
.gli-icon-myspace:before { content: '\e861'; } /* 'î¡¡' */
.gli-icon-amazon:before { content: '\e862'; } /* 'î¡¢' */
.gli-icon-steam:before { content: '\e863'; } /* 'î¡£' */
.gli-icon-ebay:before { content: '\e864'; } /* 'î¡¤' */
.gli-icon-gmail:before { content: '\e865'; } /* 'î¡¥' */
.gli-icon-wordpress:before { content: '\e866'; } /* 'î¡¦' */
.gli-icon-statusnet:before { content: '\e867'; } /* 'î¡§' */
.gli-icon-acrobat:before { content: '\e868'; } /* 'î¡¨' */
.gli-icon-drupal:before { content: '\e869'; } /* 'î¡©' */
.gli-icon-pocket:before { content: '\e86a'; } /* 'î¡ª' */
.gli-icon-bitbucket:before { content: '\e86b'; } /* 'î¡«' */
.gli-icon-stackoverflow:before { content: '\e86c'; } /* 'î¡¬' */
.gli-icon-yandex:before { content: '\e86d'; } /* 'î¡­' */
.gli-icon-odnoklassniki:before { content: '\e86e'; } /* 'î¡®' */
.gli-icon-deviantart:before { content: '\e86f'; } /* 'î¡¯' */
.gli-icon-wordpress-1:before { content: '\e870'; } /* 'î¡°' */
.gli-icon-diigo:before { content: '\e871'; } /* 'î¡±' */
.gli-icon-wordpress-2:before { content: '\e872'; } /* 'î¡²' */
.gli-icon-share:before { content: '\e873'; } /* 'î¡³' */
.gli-icon-spin5:before { content: '\e874'; } /* 'î¡´' */
.gli-icon-picture-1:before { content: '\e875'; } /* 'î¡µ' */
.gli-icon-link:before { content: '\e876'; } /* 'î¡¶' */
.gli-icon-chat:before { content: '\e877'; } /* 'î¡·' */
.gli-icon-headphones:before { content: '\e878'; } /* 'î¡¸' */
.gli-icon-movie:before { content: '\e879'; } /* 'î¡¹' */
.gli-icon-pencil:before { content: '\e87a'; } /* 'î¡º' */
.gli-icon-left-open:before { content: '\e87b'; } /* 'î¡»' */
.gli-icon-down-open:before { content: '\e87c'; } /* 'î¡¼' */
.gli-icon-doc-text-inv:before { content: '\e87d'; } /* 'î¡½' */
.gli-icon-progress-0:before { content: '\e87e'; } /* 'î¡¾' */
.gli-icon-vcard:before { content: '\e87f'; } /* 'î¡¿' */
.gli-icon-ellipsis:before { content: '\e880'; } /* 'î¢€' */
.gli-icon-ellipsis-vert:before { content: '\e881'; } /* 'î¢' */
.gli-icon-progress-3:before { content: '\e882'; } /* 'î¢‚' */
.gli-icon-camera:before { content: '\e883'; } /* 'î¢ƒ' */
.gli-icon-camera-alt:before { content: '\e884'; } /* 'î¢„' */
.gli-icon-forward:before { content: '\e885'; } /* 'î¢…' */
.gli-icon-reply:before { content: '\e886'; } /* 'î¢†' */
.gli-icon-thumbs-up:before { content: '\e887'; } /* 'î¢‡' */
.gli-icon-thumbs-down:before { content: '\e888'; } /* 'î¢ˆ' */
.gli-icon-thumbs-up-alt:before { content: '\e889'; } /* 'î¢‰' */
.gli-icon-thumbs-down-alt:before { content: '\e88a'; } /* 'î¢Š' */
.gli-icon-print:before { content: '\e88b'; } /* 'î¢‹' */
.gli-icon-chat-empty:before { content: '\e88c'; } /* 'î¢Œ' */
.gli-icon-comment-empty:before { content: '\e88d'; } /* 'î¢' */
.gli-icon-comment-1:before { content: '\e88e'; } /* 'î¢Ž' */
.gli-icon-location-1:before { content: '\e88f'; } /* 'î¢' */
.gli-icon-basket:before { content: '\e890'; } /* 'î¢' */
.gli-icon-calendar:before { content: '\e891'; } /* 'î¢‘' */
.gli-icon-down-big:before { content: '\e892'; } /* 'î¢’' */
.gli-icon-left-big:before { content: '\e893'; } /* 'î¢“' */
.gli-icon-right-big:before { content: '\e894'; } /* 'î¢”' */
.gli-icon-up-big:before { content: '\e895'; } /* 'î¢•' */
.gli-icon-arrows-cw-1:before { content: '\e896'; } /* 'î¢–' */
.gli-icon-desktop:before { content: '\e897'; } /* 'î¢—' */
.gli-icon-laptop:before { content: '\e898'; } /* 'î¢˜' */
.gli-icon-tablet:before { content: '\e899'; } /* 'î¢™' */
.gli-icon-mobile:before { content: '\e89a'; } /* 'î¢š' */
.gli-icon-leaf:before { content: '\e89b'; } /* 'î¢›' */
.gli-icon-briefcase-1:before { content: '\e89c'; } /* 'î¢œ' */
.gli-icon-chart-bar:before { content: '\e89d'; } /* 'î¢' */
.gli-icon-credit-card:before { content: '\e89e'; } /* 'î¢ž' */
.gli-icon-floppy:before { content: '\e89f'; } /* 'î¢Ÿ' */
.gli-icon-gauge:before { content: '\e8a0'; } /* 'î¢ ' */
.gli-icon-wheelchair:before { content: '\e8a1'; } /* 'î¢¡' */
.gli-icon-users:before { content: '\e8a2'; } /* 'î¢¢' */
.gli-icon-user:before { content: '\e8a3'; } /* 'î¢£' */
.gli-icon-user-add:before { content: '\e8a4'; } /* 'î¢¤' */
.gli-icon-folder:before { content: '\e8a5'; } /* 'î¢¥' */
.gli-icon-phone:before { content: '\e8a6'; } /* 'î¢¦' */
.gli-icon-tools:before { content: '\e8a7'; } /* 'î¢§' */
.gli-icon-signal:before { content: '\e8a8'; } /* 'î¢¨' */
.gli-icon-globe-1:before { content: '\e8a9'; } /* 'î¢©' */
.gli-icon-network:before { content: '\e8aa'; } /* 'î¢ª' */
.gli-icon-brush:before { content: '\e8ab'; } /* 'î¢«' */
.gli-icon-chart-line:before { content: '\e8ac'; } /* 'î¢¬' */
.gli-icon-chart-bar-1:before { content: '\e8ad'; } /* 'î¢­' */
.gli-icon-chart-area:before { content: '\e8ae'; } /* 'î¢®' */
.gli-icon-chart-pie:before { content: '\e8af'; } /* 'î¢¯' */
.gli-icon-basket-1:before { content: '\e8b0'; } /* 'î¢°' */
.gli-icon-basket-alt:before { content: '\e8b1'; } /* 'î¢±' */
.gli-icon-dollar:before { content: '\e8b2'; } /* 'î¢²' */
.gli-icon-fire:before { content: '\e8b3'; } /* 'î¢³' */
.gli-icon-video-chat:before { content: '\e8b4'; } /* 'î¢´' */
.gli-icon-picture-2:before { content: '\e8b5'; } /* 'î¢µ' */
.gli-icon-fire-1:before { content: '\e8b6'; } /* 'î¢¶' */
.gli-icon-road:before { content: '\e8b7'; } /* 'î¢·' */
.gli-icon-hearing-impaired:before { content: '\e8b8'; } /* 'î¢¸' */
.gli-icon-award:before { content: '\e8b9'; } /* 'î¢¹' */
.gli-icon-food:before { content: '\e8ba'; } /* 'î¢º' */
.gli-icon-coffee:before { content: '\e8bb'; } /* 'î¢»' */
.gli-icon-music:before { content: '\e8bc'; } /* 'î¢¼' */
.gli-icon-note-beamed:before { content: '\e8bd'; } /* 'î¢½' */
.gli-icon-note:before { content: '\e8be'; } /* 'î¢¾' */
.gli-icon-volume:before { content: '\e8bf'; } /* 'î¢¿' */
.gli-icon-calendar-inv:before { content: '\e8c0'; } /* 'î£€' */
.gli-icon-calendar-1:before { content: '\e8c1'; } /* 'î£' */
.gli-icon-link-1:before { content: '\e8c2'; } /* 'î£‚' */
.gli-icon-link-2:before { content: '\e8c3'; } /* 'î£ƒ' */
.gli-icon-attach:before { content: '\e8c4'; } /* 'î£„' */
.gli-icon-cog-alt:before { content: '\e8c5'; } /* 'î£…' */
.gli-icon-mic:before { content: '\e8c6'; } /* 'î£†' */
.gli-icon-mic-1:before { content: '\e8c7'; } /* 'î£‡' */
.gli-icon-mute:before { content: '\e8c8'; } /* 'î£ˆ' */
.gli-icon-shield:before { content: '\e8c9'; } /* 'î£‰' */
.gli-icon-thumbs-up-1:before { content: '\e8ca'; } /* 'î£Š' */
.gli-icon-thumbs-down-1:before { content: '\e8cb'; } /* 'î£‹' */
.gli-icon-down-open-big:before { content: '\e8cc'; } /* 'î£Œ' */
.gli-icon-left-open-big:before { content: '\e8cd'; } /* 'î£' */
.gli-icon-right-open-big:before { content: '\e8ce'; } /* 'î£Ž' */
.gli-icon-up-open-big:before { content: '\e8cf'; } /* 'î£' */
.gli-icon-down-open-1:before { content: '\e8d0'; } /* 'î£' */
.gli-icon-left-open-1:before { content: '\e8d1'; } /* 'î£‘' */
.gli-icon-up-open-1:before { content: '\e8d2'; } /* 'î£’' */
.gli-icon-right-open-1:before { content: '\e8d3'; } /* 'î£“' */
.gli-icon-cubes:before { content: '\e8d4'; } /* 'î£”' */
.gli-icon-euro:before { content: '\e8d5'; } /* 'î£•' */
.gli-icon-dollar-1:before { content: '\e8d6'; } /* 'î£–' */
.gli-icon-pound:before { content: '\e8d7'; } /* 'î£—' */
.gli-icon-flight:before { content: '\e8d8'; } /* 'î£˜' */
.gli-icon-recycle:before { content: '\e8d9'; } /* 'î£™' */
.gli-icon-puzzle:before { content: '\e8da'; } /* 'î£š' */
.gli-icon-alert:before { content: '\e8db'; } /* 'î£›' */
.gli-icon-newspaper:before { content: '\e8dc'; } /* 'î£œ' */
.gli-icon-strike:before { content: '\e8dd'; } /* 'î£' */
.gli-icon-terminal:before { content: '\e8de'; } /* 'î£ž' */
.gli-icon-keyboard:before { content: '\e8df'; } /* 'î£Ÿ' */
.gli-icon-sliders:before { content: '\e8e0'; } /* 'î£ ' */
.gli-icon-code-1:before { content: '\e8e1'; } /* 'î£¡' */
.gli-icon-qrcode:before { content: '\e8e2'; } /* 'î£¢' */
.gli-icon-wrench:before { content: '\e8e3'; } /* 'î££' */
.gli-icon-list-1:before { content: '\e8e4'; } /* 'î£¤' */
.gli-icon-list-2:before { content: '\e8e5'; } /* 'î£¥' */
.gli-icon-export-1:before { content: '\e8e6'; } /* 'î£¦' */
.gli-icon-retweet:before { content: '\e8e7'; } /* 'î£§' */
.gli-icon-arrows-ccw:before { content: '\e8e8'; } /* 'î£¨' */
.gli-icon-tag:before { content: '\e8e9'; } /* 'î£©' */
.gli-icon-tags:before { content: '\e8ea'; } /* 'î£ª' */
.gli-icon-folder-open:before { content: '\e8eb'; } /* 'î£«' */
.gli-icon-folder-open-empty:before { content: '\e8ec'; } /* 'î£¬' */
.gli-icon-quote-right:before { content: '\e8ed'; } /* 'î£­' */
.gli-icon-quote-left:before { content: '\e8ee'; } /* 'î£®' */
.gli-icon-users-1:before { content: '\e8ef'; } /* 'î£¯' */
.gli-icon-flag:before { content: '\e8f0'; } /* 'î£°' */
.gli-icon-forward-1:before { content: '\e8f1'; } /* 'î£±' */
.gli-icon-palette:before { content: '\e8f2'; } /* 'î£²' */
.gli-icon-database:before { content: '\e8f3'; } /* 'î£³' */
.gli-icon-money:before { content: '\e8f4'; } /* 'î£´' */
.gli-icon-blind:before { content: '\e8f5'; } /* 'î£µ' */
.gli-icon-lightbulb:before { content: '\e8f6'; } /* 'î£¶' */
.gli-icon-umbrella:before { content: '\e8f7'; } /* 'î£·' */
.gli-icon-clock:before { content: '\e8f8'; } /* 'î£¸' */
.gli-icon-flag-1:before { content: '\e8f9'; } /* 'î£¹' */
.gli-icon-bell:before { content: '\e8fa'; } /* 'î£º' */
.gli-icon-unlink:before { content: '\e8fb'; } /* 'î£»' */
.gli-icon-cog-1:before { content: '\e8fc'; } /* 'î£¼' */
.gli-icon-doc:before { content: '\e8fd'; } /* 'î£½' */
.gli-icon-params:before { content: '\e8fe'; } /* 'î£¾' */
.gli-icon-docs:before { content: '\e8ff'; } /* 'î£¿' */
.gli-icon-file-code:before { content: '\e900'; } /* 'î¤€' */
.gli-icon-doc-text:before { content: '\e901'; } /* 'î¤' */
.gli-icon-tint:before { content: '\e902'; } /* 'î¤‚' */
.gli-icon-chart-line-1:before { content: '\e903'; } /* 'î¤ƒ' */
.gli-icon-chart-area-1:before { content: '\e904'; } /* 'î¤„' */
.gli-icon-chart-pie-1:before { content: '\e905'; } /* 'î¤…' */
.gli-icon-sitemap:before { content: '\e906'; } /* 'î¤†' */
.gli-icon-graduation-cap:before { content: '\e907'; } /* 'î¤‡' */
.gli-icon-paw:before { content: '\e908'; } /* 'î¤ˆ' */
.gli-icon-cc-visa:before { content: '\e909'; } /* 'î¤‰' */
.gli-icon-cc-mastercard:before { content: '\e90a'; } /* 'î¤Š' */
.gli-icon-cc-amex:before { content: '\e90b'; } /* 'î¤‹' */
.gli-icon-cc-discover:before { content: '\e90c'; } /* 'î¤Œ' */
.gli-icon-cc-paypal:before { content: '\e90d'; } /* 'î¤' */
.gli-icon-pinterest-circled:before { content: '\e90e'; } /* 'î¤Ž' */
.gli-icon-jsfiddle:before { content: '\e90f'; } /* 'î¤' */
.gli-icon-gwallet:before { content: '\e910'; } /* 'î¤' */
.gli-icon-joomla:before { content: '\e911'; } /* 'î¤‘' */
.gli-icon-stackoverflow-1:before { content: '\e912'; } /* 'î¤’' */
.gli-icon-angle-double-left:before { content: '\e913'; } /* 'î¤“' */
.gli-icon-angle-double-right:before { content: '\e914'; } /* 'î¤”' */
.gli-icon-angle-double-up:before { content: '\e915'; } /* 'î¤•' */
.gli-icon-angle-double-down:before { content: '\e916'; } /* 'î¤–' */
.gli-icon-basket-2:before { content: '\e917'; } /* 'î¤—' */
.gli-icon-pencil-1:before { content: '\e918'; } /* 'î¤˜' */
.gli-icon-mobile-1:before { content: '\e919'; } /* 'î¤™' */
.gli-icon-globe-2:before { content: '\e91a'; } /* 'î¤š' */
.gli-icon-eyedropper:before { content: '\e91b'; } /* 'î¤›' */
.gli-icon-home-outline:before { content: '\e91c'; } /* 'î¤œ' */
.gli-icon-phone-1:before { content: '\e91d'; } /* 'î¤' */
.gli-icon-phone-squared:before { content: '\e91e'; } /* 'î¤ž' */
.gli-icon-mobile-2:before { content: '\e91f'; } /* 'î¤Ÿ' */
.gli-icon-mobile-alt:before { content: '\e920'; } /* 'î¤ ' */
.gli-icon-phone-2:before { content: '\e921'; } /* 'î¤¡' */
.gli-icon-phone-circled:before { content: '\e922'; } /* 'î¤¢' */
.gli-icon-popup:before { content: '\e923'; } /* 'î¤£' */
.gli-icon-eye:before { content: '\e924'; } /* 'î¤¤' */
.gli-icon-whatsapp:before { content: '\e925'; } /* 'î¤¥' */
.gli-icon-header:before { content: '\e926'; } /* 'î¤¦' */
.gli-icon-list-alt:before { content: '\e927'; } /* 'î¤§' */
